<%- include(partials + '/header') %>

<main class="program-details">
    <h1 class="program-details__title"><%= program.title %></h1>

    <dl class="program-details__info">
        <div class="program-details__row">
            <dt class="program-details__term">Возрастная группа:</dt>
            <dd class="program-details__desc"><%= program.age_group %></dd>
        </div>

        <div class="program-details__row">
            <dt class="program-details__term">Описание:</dt>
            <dd class="program-details__desc"><%= program.description %></dd>
        </div>

        <div class="program-details__row">
            <dt class="program-details__term">Учебный план:</dt>
            <dd class="program-details__desc"><%= program.plan %></dd>
        </div>

        <div class="program-details__row">
            <dt class="program-details__term">Расписание:</dt>
            <dd class="program-details__desc"><%= program.schedule %></dd>
        </div>

        <div class="program-details__row">
            <dt class="program-details__term">Преподаватель:</dt>
            <dd class="program-details__desc"><%= program.teacher %></dd>
        </div>
    </dl>

    <div class="cta">
        <a href="/application" class="cta__button">Поступить</a>
    </div>
</main>

<%- include(partials + '/footer') %>
