<%- include(partials + '/header') %>

<h1>Редактировать программу "<%= program.title %>"</h1>

<form action="/admin/programs/edit/<%= program.id %>" method="POST">
    <label>Название*: <input type="text" name="title" value="<%= program.title %>" required></label><br>
    <label>Описание: <textarea name="description"><%= program.description %></textarea></label><br>
    <label>Расписание: <textarea name="schedule"><%= program.schedule %></textarea></label><br>
    <label>Учебный план: <textarea name="plan"><%= program.plan %></textarea></label><br>
    <label>Возрастная группа: <input type="text" name="age_group" value="<%= program.age_group %>"></label><br>
    <button type="submit">Сохранить</button>
</form>

<a href="/admin/programs">← Назад</a>

<%- include(partials + '/footer') %>
